* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Tavolga;
  src: url("./assets/fonts/tavolga-free.ttf");
}

@font-face {
  font-family: Gilroy;
  src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: GilroyMedium;
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: GilroyBold;
  src: url("./assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: GilroyExtraBold;
  src: url("./assets/fonts/Gilroy-ExtraBold.ttf");
}

body {
  font-family: Gilroy, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  position: relative;
  z-index: 4;
  box-sizing: border-box;
  border: 0;
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  cursor: pointer;
  transition: .4s all linear;
}

.button:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

@media screen and (max-width: 1229px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
