* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Tavolga;
  src: url("./assets/fonts/tavolga-free.ttf");
}

@font-face {
  font-family: Gilroy;
  src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: GilroyMedium;
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: GilroyBold;
  src: url("./assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: GilroyExtraBold;
  src: url("./assets/fonts/Gilroy-ExtraBold.ttf");
}

body {
  font-family: Gilroy, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1229px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
